# Supabase settings (Find these in Supabase Dashboard -> Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Firebase settings (Find these in Firebase Console -> Project Settings -> General)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Firebase Cloud Messaging settings (Firebase Console -> Project Settings -> Cloud Messaging -> Web Push certificates)
NEXT_PUBLIC_FIREBASE_VAPID_KEY=

# Your Local Development Server
NEXT_PUBLIC_APP_URL=
